.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #696969;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#center-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    position:fixed;
    bottom: 0;
    height: 40px;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*idk what's happening*/