.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

html {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: small;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #696969;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    color: #545454;
}

.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-left {
    margin-left: 15px;
}

#header-right {
    margin-right: 15px;
}

#sign-in {
    background-color: #118ee6;
    color: white;
    border-radius: 8%;
    padding: 7px 10px;
    margin: 10px;
    font-weight: bold;
}

#apps:hover {
    cursor: pointer;
}

#center-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

#search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    border: solid;
    width: 550px;
    height: 24px;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
}

#search-form:hover {
    box-shadow: 0 0.5px 6px -2px #9a9a9a;
}

#search-form:focus-within {
    box-shadow: 0 0.5px 6px -2px #9a9a9a;
}

#search-box {
    width: 90%;
    height: 100%;
    border: none;
    font-size: medium;
}

#search-box:focus {
    outline: none;
}

#search-icon {
    margin-right: 8px;
    color: #a9a9a9;
    font-size: 2px;
}

#search-voice {
    margin-left: 8px;
}

#voice-img {
    width: 24px;
}

#voice-img:hover {
    cursor: pointer;
}

.center-elements {
    margin: 10px;
    padding: 10px 15px;
}

.center-buttons {
    margin: 10px;
    padding: 10px 15px;
    border: solid;
    border-color: white;
    border-width: 1px;
    color: #585858;
    border-radius: 3px;
    font-size: 14px;
}

.center-buttons:hover {
    border-color: #dedede;
    box-shadow: 0 0.5px 1px #9a9a9a;
    cursor: pointer;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    position:fixed;
    bottom: 0;
    height: 40px;
    border-top: solid;
    border-width: 1px;
    border-color: #dedede;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#footer-left {
    margin-left: 15px;
}

#footer-right {
    margin-right: 15px;
}

.header-element {
    padding: 10px;
    color: #545454;
}

.footer-element {
    padding: 10px;
}
